/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
 @import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;

}

#wrapper{
	background: #f5f5f5;
	overflow: hidden;
	#header-desktop{
		background: #f5f5f5
	}

	#header-mobile{
		.navbar{
			background: #f5f5f5;
			border: none;
			padding: 0;
			.bg-search{
				width: 100%;
			    background: #fff;
			    padding: 20px 0;
			}
		}
		.navbar-header{
			width: 100%;
			img{
				// width: 100%;
			}
			.menus{
				position: relative;
				z-index: 2;
			}
			.logo{
				margin-top: 15px;
			}
			.centerMobile{
				position: relative;
				a{
					display: block;
					text-align: center;
				}
				.shop-act-list{
					position: absolute;
					right: 0;
					top: 20px;
					margin-top: 0;
				}
			}
		}
		.navbar-toggler{
			padding: 13px 0;
			outline: none;
			.icon-bar{
				display: block;
			    width: 22px;
			    height: 2px;
			    border-radius: 1px;
			    background: #fff;
			    margin-bottom: 5px;
			}
		}
		#navbar{
			ul{
				li{
						padding: 10px 0;
					a{
					    color: #0096d9;
					}
				}
			}
		}
		.form-inline{
			position: relative;
			margin-top: 7px;
			input{
				background: transparent;
				width: 100% !IMPORTANT;
    			margin-left: 0 !important;
			}
			.fa-search{
				top: 30%;
				position: absolute;
				right: 10px;
				color: #fff;
			}
		}
		.shop-act-list{
			margin-top: 15px;
			    display: inline-block;
			ul{
				padding: 0;
				margin: 0;
				.search{
					margin-top: 3px;
				}
				li{
					float: left;
					position: relative;
					list-style: none;
					margin-right: 15px;
					cursor: pointer;
					@media screen and(max-width: 768px){
						margin-right: 10px;
					}
					&:last-child{
						margin-right: 0;
					}
					.fa-search{
						top: 30%;
						position: absolute;
						right: 10px;
						color: #fff;
					}
					.count{
						position: absolute;
						background: #ffc53e;
						color: #333;
						font-size: 8px;
						top: -5px;
					    right: 0;
					    width: 10px;
					    height: 10px;
					    border-radius: 50%;
					    text-align: center;
					}
					.cart{
						position: relative;
					}
					.notif{
						position: relative;
					}
				}
			}
		}
		.banner-mobile{
			margin-top: 150px;
			.img{
				img{
					width: 100%;
					object-fit:cover;
				}
			}
		}
	}

	#top{
		background: #f5f5f5;
		height: 30px;
		line-height: 30px;
		.top-cols{
			@media screen and (min-width: 768px)and(max-width: 1024px) {
				font-size: 12px;
			}
			.left{
				.cols{
					margin-left: 20px;
					a{
						padding-left: 20px;
						color: #666;
					}
				}
				.tlp{
					background: url(../img/ico-tlp.png) no-repeat left;
					@media screen and (min-width: 768px)and(max-width: 1024px) {
						margin-left: 10px;
					}
				}
				.email{
					background: url(../img/ico-mail.png) no-repeat left;
			    	margin-left: 0;
				}
			}
			.right{
				text-align: right;
				.cols{
					margin-right: 15px;
					&:last-child{
						padding-left: 20px;
					}
				}
				.maps{
					background: url(../img/ico-location.png) no-repeat left;
					a{
						padding-left: 20px;
					}
				}
			}
			.cols{
				display: inline-block;
				font-size: 12px;
				a{
					color: #666;
				}
				.dropdown-toggle{
					background: transparent;
				    border: none;
    				padding: 0;
					img{
						float: left;
						margin-top: 5px;
					}
					.txt{
						float: left;
						line-height: 8px;
						margin: 7px 5px;
						font-size: 12px;
					}
					.caret{
						color: #666;
					    float: left;
				        margin-top: 2px;
					}
				}
				.dropdown-menu{
					min-width: 70px;
				}
			}
		}
	}

	#header{
		background: #fff;
		padding: 10px;
		box-shadow: 0 4px 8px 0px #ccc;
		.logo{
			img{
				// @media screen and (max-width: 1024px) {
					width: 100%;
				// }
			}
		}
		.cat{
			text-align: right;
			.dropdown{
				button{
					border: none;
					background: url(../img/bg-cat.png) no-repeat center;
					padding: 0;
    				text-indent: -9999px;
    			    outline: none;
    				padding: 8px 0;
					&:after{
						display: none;
					}
				}
			}
		}
		.search-top{
			.form-inline{
				position: relative;
				background: #fff;
				font-size: 12px;
				border: 1px solid #cccccc;
				input{
					border: none;
				    background: #f5f5f5;
				    width: 90%;
				}
				.bootstrap-select{
					width: 140px;
					@media screen and (max-width: 768px) {
						width: 70px;
					}
					.selectpicker{
						background: none;
					}
					.dropdown-toggle{
						background: none;
						border-top: none;
						border-right: none;
						border-bottom: none;
						border-radius: 0;
						padding: 0 10px;
						color: #666;
					}
				}
				.search-btn{
				    position: absolute;
				    background: #f7931e;
				    right: 0px;
				    top: 0px;
				    width: 55px;
    				height: 38px;
				    text-align: center;
				    line-height: 35px;
				    color: #fff;
				    cursor: pointer;
				    font-size: 16px;
				}
			}
		}
		.top-right{
			padding-top:10px;
			.shop-act-list{
				@media screen and (min-width: 568px)and(max-width: 1024px) {
				    max-width: 100% !IMPORTANT;
				    width: 100%;
				    flex: none;
				}
				text-align: right;
				ul{
					padding: 0;
					margin: 0;
					li{
						float: left;
						position: relative;
						list-style: none;
						margin-right: 13px;
						cursor: pointer;
						&:last-child{
							margin-right: 0;
						}
						.count{
							position: absolute;
							background: #d90000;
							color: #fff;
							font-size: 8px;
							top: -5px;
						    right: 0;
						    width: 10px;
						    height: 10px;
						    border-radius: 50%;
						    text-align: center;
						}
						.cart{
							position: relative;
							&:after{
								display: none;
							}
							.dropdown-menux2{
								display: none;
								width: 275px;
								position: absolute;
							    left: 0;
    							top: 40px;
    							z-index: 9;
    							background: #fff;
    							box-shadow: 1px 1px 1px 3px #b0b0b070;
    							@media screen and (min-width: 768px)and(max-width: 1024px) {
    								left: -200px;
    							}
    							ul{
    								li{
    									float: none;
    									margin:0;
    									position: relative;
    									padding: 8px 30px;
    									margin: 10px 20px;
    									border-bottom: 1px solid #b0b0b070;
    									&:nth-child(1){
    										background: url(../img/top-cart.png) no-repeat left;
    									}
    									&:nth-child(2){
    										background: url(../img/top-chat.png) no-repeat left;
    									}
    									&:nth-child(3){
    										background: url(../img/top-user.png) no-repeat left;
    										border: none;
    									}
    									a{
    										color: #999;
    									}
    									span{
    										position: absolute;
    										right: 10px;
    										font-weight: bold;
    									}
    								}
    							}
								.product-list{
									.product{
									    padding: 10px;
										font-size: 12px;
										text-align: left;
										&.ganjil{
											background: #f5f5f5;
										}
										.title{
											color: #666;
										}
										.price{
											color: #333;
										}
									}
								}
								.txt{
									text-align: left;
    								 padding: 20px 10px;
    								 color: #999;
    							}
    							.subtotal{
    								padding: 20px 10px;
    								color: #999;
    								.total{
    									font-weight: bold;
    									color: #333;
    								}
    							}
								.product-list{
									.product{
									    padding: 10px;
										font-size: 12px;
										border-bottom: 1px solid #eee;
										img{
											width: 100%;
										}
										&.ganjil{
											background: #f5f5f5;
										}
										.title{
											color: #666;
										}
										.price{
											color: #333;
										}
									}
								}
							}
						}
						.notif{
							position: relative;
							&:after{
								display: none;
							}
							.dropdown-menux{
								display: none;
								width: 275px;
								position: absolute;
							    left: -100px;
    							top: 40px;
    						    z-index: 9;
    							background: #fff;
    							box-shadow: 1px 1px 1px 3px #b0b0b070;
    							@media screen and (min-width: 768px)and(max-width: 1024px) {
    								left: -200px;
    							}
    							ul{
    								li{
    									float: none;
    									text-align: left;
    									margin:0;
    									position: relative;
    									padding: 8px 30px;
    									margin: 10px 20px;
    									border-bottom: 1px solid #b0b0b070;
    									&:nth-child(1){
    										background: url(../img/top-cart.png) no-repeat left;
    									}
    									&:nth-child(2){
    										background: url(../img/top-chat.png) no-repeat left;
    									}
    									&:nth-child(3){
    										background: url(../img/top-user.png) no-repeat left;
    										border: none;
    									}
    									a{
    										color: #999;
    									}
    									span{
    										position: absolute;
    										right: 10px;
    										font-weight: bold;
    									}
    								}
    							}
								.product-list{
									.product{
									    padding: 10px;
										font-size: 12px;
										&.ganjil{
											background: #f5f5f5;
										}
										.title{
											color: #666;
										}
										.price{
											color: #333;
										}
									}
								}
    							.txt{
    								 padding: 20px 10px;
    								 color: #999;
    							}
    							.subtotal{
    								padding: 20px 10px;
    								color: #999;
    								.total{
    									font-weight: bold;
    									color: #333;
    								}
    							}
								.product-list{
									.product{
									    padding: 10px;
										font-size: 12px;
										border-bottom: 1px solid #eee;
										img{
											width: 100%;
										}
										&.ganjil{
											background: #f5f5f5;
										}
										.title{
											color: #666;
										}
										.price{
											color: #333;
										}
									}
								}
							}
						}
					}
				}
			}

			.user-act-list{
				@media screen and (max-width: 768px) {
					display: none;
				}
				ul{
					padding: 0;
					margin: 0;
					.shop{
							border: 1px solid #0095da;
							color: #0095da;
						a{
							
							padding: 2px 10px;
							display: block;
						}
					}
					li{
						list-style: none;
					    display: inline-block;
    					margin-left: 7px;
						font-size: 13px;
					}
					.sign{
						a{
							background: #0095da;
							color: #fff;
							padding: 5px 10px;
						}
						.formpop{
    						position: absolute;
    						background: #fff;
    						left: -200px;
    						z-index: 9;
    						width: 350px;
						    padding: 20px;
						    border-color: #ececec;
						    .flexo{
						    	padding: 0 20px;
						    	.right{
						    		font-size: 12px;
						    	}
						    }
						    .input-group-btn{
						    	position: absolute;
						    	right: 0;
						    	button{
						    		border: none;
						    		background: none;
						    		color: #333;
						    	}
						    }
						    .login-btn{
						    	background: #c81423;
							    color: #fff;
							    width: 100%;
							    border-radius: 25px;
						    }
						    input{
						    	border-radius: 25px;
						    }
    					}
					}
				}
			}
		}
	}

	#menus-wrapper{
		.bg-kategori{
			padding-right: 0;
			h5{
				background: #c81423 url(../img/burger-menu.png) no-repeat 8%;
				color: #fff;
			    height: 45px;
    			padding: 15px 50px;
    			margin-bottom: 0;
    			@media screen and (max-width: 768px) {
    				padding: 15px 0px 15px 50px;
    			}
			}
		}
		.menus{
			ul{
				padding: 20px 0 0 ;
				margin: 0;
				li{
					list-style: none;
					display: inline-block;
					font-size: 18px;
					font-weight: bold;
					margin-right: 20px;
					a{
						color: #333;
						text-decoration: none;
						&:hover{
							color: #c81423;
						}
					}
					.active{
						color: #c81423;
					}
				}
			}
		}
	}

	.banner-wrapper{
		background: #f5f5f5;
		margin: 20px 0;
		.list-cat-wrapper{
			padding-right: 0;
			.list-category{
				background: #fff;
				height: 342px;
				padding: 20px 0;
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						text-transform: uppercase;
						font-size: 13px;
						@media screen and (max-width: 768px) {
							font-size: 12px;
						}
						a{
							padding: 5px 20px;
							display: block;
							color: #757575;
							text-decoration: none;
							&:hover{
								background: #f5f5f5;
								color: #199cb7;
							}
						}
					}
				}
			}
		}
		.banner-col{
			padding-right: 0;
			padding-left: 0;
			.banner{
				padding: 20px 0;
				.slidebanner{
					outline: none;
					img{
						width: 100%;
						padding-right: 10px;
					}	
					.slick-prev{
						outline: none;
						position: absolute;
						z-index: 9;
						background:url(../img/banner-prev.png) no-repeat left;
						width: 35px;
						height: 60px;
						cursor: pointer;
						border: none;
					    text-indent: -9999px;
					    top: 50%;
					    left: -2px;
					}
					.slick-next{
						outline: none;
						position: absolute;
						right: -2px;
						background:url(../img/banner-next.png) no-repeat left;
						width: 35px;
						height: 60px;
						cursor: pointer;
					    border: none;
					    text-indent: -9999px;
					    top: 50%;
					}
					.slick-dots{
						text-align: center;
					    position: absolute;
					    bottom: -70px;
					    left: 0;
					    right: 0;
					    @media screen and (max-width: 480px) {
					    	text-align: left;
					    	left: 15px;
					    }
							li{
								list-style: none;
								display: inline-block;
								margin-right: 10px;
								button{
									text-indent: -9999px;
									border: none;
									background: #ddd;
									border-radius: 50%;
									width: 10px;
									height: 10px;
								}
							}
							.slick-active{
								button{
									background: #0096d9;
								}
							}
					}	
				}				
							
			}

		}
		.small-banner{
			padding-left: 0;
			.block{
				&:first-child{
					margin-bottom: 6px;
				}
				img{
					height: 100%;
				}
			}
		}
	}

	#content-wrapper{
		background: #f5f5f5;
		padding-top: 50px;
		.columns{
			background: #fff;
			padding: 20px;
			box-shadow: 1px 1px 1px 1px #ccc;
			@media screen and (max-width: 568px) {
				box-shadow: none;
				padding: 0;
			}
		}
		.menu-after-top{
			margin-bottom: 20px;
			@media screen and (max-width: 568px) {
			    margin-bottom: 0;
    			padding: 20px;
			}
			h3{
				font-weight: bold;
				color: #333;
				@media screen and (max-width: 568px) {
					font-size: 18px;
				}
			}
			.more{
				a{
					color: #0096d9;
				    font-weight: bold;
				    text-decoration: none;
				    border: 1px solid #ccc;
				    padding: 10px;
				    font-size: 12px;
				}
			}
		}
		.banner-after-menu{
			margin-bottom: 20px;
		}
		.product-wrapper{
			.product-column{
				.highlight{
					background: url(../img/bg-product-active.jpg) no-repeat !Important;					
					a{
						color: #fff !Important;
					}
				}
				.slide-product{
					.slick-prev{
						outline: none;
						position: absolute;
						z-index: 9;
						background:url(../img/banner-prev.png) no-repeat left;
						width: 35px;
						height: 66px;
						cursor: pointer;
						border: none;
					    text-indent: -9999px;
					    top: 50%;
					    left: -20px;
					    @media screen and (max-width: 568px) {
					    	left: 0;
					    }
					}
					.slick-next{
						outline: none;
						position: absolute;
						right: -20px;
						background:url(../img/banner-next.png) no-repeat left;
						width: 35px;
						height: 66px;
						cursor: pointer;
					    border: none;
					    text-indent: -9999px;
					    top: 50%;
					    @media screen and (max-width: 568px) {
					    	right: 0;
					    }
					}
				}
				.block{
					background: #fff;
					float: left;
					width: 220px;
					height: 335px;
					@media screen and (max-width: 768px) {
						height: auto;
					}
					a{
						color: #333;
						text-decoration: none;
						display: block;
						padding: 20px;
						position: relative;
						&:hover{
							box-shadow: 2px 0px 30px 5px #ccc;
						}
						@media screen and (max-width: 768px) {
							padding: 20px 0;
						}
						@media screen and (max-width: 480px) {
							padding: 20px;
						}
						.img{
							min-height: 200px;
							@media screen and (max-width: 480px) {
							    display: flex;
   								align-items: center;
							}
							img{
								width: 100%;
							}
						}
						.title{
							margin-bottom: 10px;
							color: #666;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding: 0 10px;
							}
						}
						.price{
							color: #c81423;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding: 0 10px;
							}
						}
						.percent{
							color: #999;
							font-size: 12px;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding: 0 10px;
							}
						}
						.star-list{
							margin-top: 10px;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding: 0 10px;
							}
							ul{
								float: left;
								padding: 0;
								margin: 0;
								li{
									list-style: none;
									display: inline-block;
								}
							}
							.review{
								float: left;
								margin-left: 10px;
								margin-top: 2px;
								font-size: 10px;
								color: #999;
								@media screen and (max-width: 768px) {
									margin-left: 0;
								}
							}
						}
					}
				}
			}
		}
		#banner-ads{		
			padding: 50px 0; 
			background: #f5f5f5;
			.banner{
				img{
				    object-fit: cover;
	    			width: 100%;
				}
			}
		}
		.top-category-wrapper{
			margin: 50px 0;
			h3{
				font-weight: bold;
    			color: #333;
    			@media screen and (max-width: 480px) {
    				padding: 20px;
    				font-size: 18px;
    			}
			}
			.list-category{
				ul{
					padding: 0;
					margin: 0;
					li{
						text-align: center;
						list-style: none;		
						padding: 3px;			
						position: relative;
						z-index: 9;
						a{
							display: block;		
							color: #282828;
							padding: 0 10px;
							.title{
								margin-top: 20px;
								display: inline-block;
							    font-size: 14px;
    							line-height: normal;
							}
							img{								
								width: 100%;
								
							}					
						}
					}
				}
			}
		}
		.top-pilihan-wrapper{
			padding: 50px 0;
			h3{
				font-weight: bold;
    			color: #333;
			}
			.product-wrapper{
				.product-column{
					.block{
						width: 16.66666667%;
						height: 282px;
						margin-bottom: 20px;
						border-right: none;
						@media screen and (min-width: 768px) {
							padding: 0;
						}
						@media screen and (max-width: 480px) {
							width: 50%;
							padding: 0;
						}
						a{
							height: 100%;
							position: relative;
							z-index: 9;
							padding: 20px;
							@media screen and(min-width: 768px)and(max-width: 1024px) {
								padding: 0;
							}
							.img{
								min-height: 140px;
								@media screen and (max-width: 768px) {
									min-height: 50px;
									img{
										width: 100%;
									}
								}
								img{
										width: 100%;
									}
							}
							.star-list{
								ul{
									width: 45%;
									@media screen and (max-width: 768px) {
										width: 100%;
									}
									li{
									    margin-right: -5px;
									}
								}
							}
						}
					}
				}
				.seemore{
					text-align: center;
					text-transform: capitalize;
					margin: 20px 0;
					a{
						border: 1px solid #199cb7;
						padding: 10px 20px;
						display: inline-block;
						color: #199cb7;
					}
				}
			}
		}
	}

	#footer-wrapper{
	    background: #fff;
		border-bottom: 1px solid #cfcfcf;
		@media screen and (max-width: 480px) {
			background: #fff;
		}
		.before-footer-wrapper{
			padding: 50px 0;
			.block{
				text-align: center;
				@media screen and (max-width: 480px) {
					height: 150px;
					margin-bottom: 20px;
				}
				&:last-child{
					background: none;
				}
				.img{
					display: inline-block;
					margin-bottom: 10px;
				}
				.title{
					color: #333;
					font-weight: bold;
					margin-bottom: 5px;
					@media screen and (max-width: 568px) {
						line-height: normal;
					}
				}
				.desc{
					color: #999;
					@media screen and (max-width: 768px) {
						font-size: 12px;
						line-height: normal;
					}
				}
			}
		}
		.footer{
			background: #e5e5e5 url(../img/bg-footer.png) no-repeat bottom;
			color: #999;
			padding: 50px 0;
			border-top: 2px solid #0095da;
			@media screen and (min-width: 768px)and(max-width: 1024px) {
				font-size: 12px;
			}
			.title{
				font-weight: bold;
				text-transform: uppercase;
				border-bottom: 1px solid #666;
				margin-bottom: 10px;
				font-size: 14px;
				@media screen and (max-width: 480px) {
					width: 50%;
    				font-size: 18px;
    				margin-top: 20px;
				}
			}
			.logo{
				img{
					width: 100%;					
					@media screen and (max-width: 480px) {
						width: auto;
					}
				}
			}
			.list-address{
				margin-top: 35px;
				@media screen and (max-width: 480px) {
					margin-top: 20px;
				}
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						margin-bottom: 10px;
						padding-left: 25px;
						&:nth-child(1){
							background: url(../img/footer-maps.png) no-repeat left;
						}
						&:nth-child(2){
							background: url(../img/footer-phone.png) no-repeat left;
						}
						&:nth-child(3){
							background: url(../img/footer-mail.png) no-repeat left;
						}
					}
				}
			}
			.list-menus{
				margin-top: 20px;
				@media screen and (min-width: 768px)and(max-width: 1024px) {
					margin-top: 0;
				}
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						margin: 10px 0;
						@media screen and (min-width: 768px)and(max-width: 1024px) {
							margin: 0;
						}
						a{
							color: #999;
						}
					}
				}
			}
			.img-wrap{
				padding-right: 0;
				.img{
					img{
						@media screen and (min-width: 768px)and(max-width: 1024px) {
							width: 100%;
						}
					}
				}
			}
			.list-blog{
				.blog{
					border-bottom: 1px solid #333;
					padding: 15px 0;
					&:last-child{
						border: none;
					}
					a{
						color: #999;
					}
					.titleblog{
						line-height: normal;
					}
				}
			}
		}
	}

	#bottom{
		background: #fafafa;
		text-align: center;
		padding: 30px 0; 
		color: #999999;
		font-size: 16px;
		.red{
			color: #0095da;
		}
	}

}