/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* line 6, ../sass/print.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/print.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* line 17, ../sass/print.scss */
#wrapper {
  background: #f5f5f5;
  overflow: hidden;
}
/* line 20, ../sass/print.scss */
#wrapper #header-desktop {
  background: #f5f5f5;
}
/* line 25, ../sass/print.scss */
#wrapper #header-mobile .navbar {
  background: #f5f5f5;
  border: none;
  padding: 0;
}
/* line 29, ../sass/print.scss */
#wrapper #header-mobile .navbar .bg-search {
  width: 100%;
  background: #fff;
  padding: 20px 0;
}
/* line 35, ../sass/print.scss */
#wrapper #header-mobile .navbar-header {
  width: 100%;
}
/* line 40, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .menus {
  position: relative;
  z-index: 2;
}
/* line 44, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .logo {
  margin-top: 15px;
}
/* line 47, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .centerMobile {
  position: relative;
}
/* line 49, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .centerMobile a {
  display: block;
  text-align: center;
}
/* line 53, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .centerMobile .shop-act-list {
  position: absolute;
  right: 0;
  top: 20px;
  margin-top: 0;
}
/* line 61, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggler {
  padding: 13px 0;
  outline: none;
}
/* line 64, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  margin-bottom: 5px;
}
/* line 75, ../sass/print.scss */
#wrapper #header-mobile #navbar ul li {
  padding: 10px 0;
}
/* line 77, ../sass/print.scss */
#wrapper #header-mobile #navbar ul li a {
  color: #0096d9;
}
/* line 83, ../sass/print.scss */
#wrapper #header-mobile .form-inline {
  position: relative;
  margin-top: 7px;
}
/* line 86, ../sass/print.scss */
#wrapper #header-mobile .form-inline input {
  background: transparent;
  width: 100% !IMPORTANT;
  margin-left: 0 !important;
}
/* line 91, ../sass/print.scss */
#wrapper #header-mobile .form-inline .fa-search {
  top: 30%;
  position: absolute;
  right: 10px;
  color: #fff;
}
/* line 98, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list {
  margin-top: 15px;
  display: inline-block;
}
/* line 101, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 104, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul .search {
  margin-top: 3px;
}
/* line 107, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 15px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* line 107, ../sass/print.scss */
  #wrapper #header-mobile .shop-act-list ul li {
    margin-right: 10px;
  }
}
/* line 116, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li:last-child {
  margin-right: 0;
}
/* line 119, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .fa-search {
  top: 30%;
  position: absolute;
  right: 10px;
  color: #fff;
}
/* line 125, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .count {
  position: absolute;
  background: #ffc53e;
  color: #333;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 137, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .cart {
  position: relative;
}
/* line 140, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .notif {
  position: relative;
}
/* line 146, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile {
  margin-top: 150px;
}
/* line 149, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .img img {
  width: 100%;
  object-fit: cover;
}
/* line 157, ../sass/print.scss */
#wrapper #top {
  background: #f5f5f5;
  height: 30px;
  line-height: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 161, ../sass/print.scss */
  #wrapper #top .top-cols {
    font-size: 12px;
  }
}
/* line 166, ../sass/print.scss */
#wrapper #top .top-cols .left .cols {
  margin-left: 20px;
}
/* line 168, ../sass/print.scss */
#wrapper #top .top-cols .left .cols a {
  padding-left: 20px;
  color: #666;
}
/* line 173, ../sass/print.scss */
#wrapper #top .top-cols .left .tlp {
  background: url(../img/ico-tlp.png) no-repeat left;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 173, ../sass/print.scss */
  #wrapper #top .top-cols .left .tlp {
    margin-left: 10px;
  }
}
/* line 179, ../sass/print.scss */
#wrapper #top .top-cols .left .email {
  background: url(../img/ico-mail.png) no-repeat left;
  margin-left: 0;
}
/* line 184, ../sass/print.scss */
#wrapper #top .top-cols .right {
  text-align: right;
}
/* line 186, ../sass/print.scss */
#wrapper #top .top-cols .right .cols {
  margin-right: 15px;
}
/* line 188, ../sass/print.scss */
#wrapper #top .top-cols .right .cols:last-child {
  padding-left: 20px;
}
/* line 192, ../sass/print.scss */
#wrapper #top .top-cols .right .maps {
  background: url(../img/ico-location.png) no-repeat left;
}
/* line 194, ../sass/print.scss */
#wrapper #top .top-cols .right .maps a {
  padding-left: 20px;
}
/* line 199, ../sass/print.scss */
#wrapper #top .top-cols .cols {
  display: inline-block;
  font-size: 12px;
}
/* line 202, ../sass/print.scss */
#wrapper #top .top-cols .cols a {
  color: #666;
}
/* line 205, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle {
  background: transparent;
  border: none;
  padding: 0;
}
/* line 209, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle img {
  float: left;
  margin-top: 5px;
}
/* line 213, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .txt {
  float: left;
  line-height: 8px;
  margin: 7px 5px;
  font-size: 12px;
}
/* line 219, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .caret {
  color: #666;
  float: left;
  margin-top: 2px;
}
/* line 225, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-menu {
  min-width: 70px;
}
/* line 232, ../sass/print.scss */
#wrapper #header {
  background: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px 0px #ccc;
}
/* line 237, ../sass/print.scss */
#wrapper #header .logo img {
  width: 100%;
}
/* line 243, ../sass/print.scss */
#wrapper #header .cat {
  text-align: right;
}
/* line 246, ../sass/print.scss */
#wrapper #header .cat .dropdown button {
  border: none;
  background: url(../img/bg-cat.png) no-repeat center;
  padding: 0;
  text-indent: -9999px;
  outline: none;
  padding: 8px 0;
}
/* line 253, ../sass/print.scss */
#wrapper #header .cat .dropdown button:after {
  display: none;
}
/* line 260, ../sass/print.scss */
#wrapper #header .search-top .form-inline {
  position: relative;
  background: #fff;
  font-size: 12px;
  border: 1px solid #cccccc;
}
/* line 265, ../sass/print.scss */
#wrapper #header .search-top .form-inline input {
  border: none;
  background: #f5f5f5;
  width: 90%;
}
/* line 270, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select {
  width: 140px;
}
@media screen and (max-width: 768px) {
  /* line 270, ../sass/print.scss */
  #wrapper #header .search-top .form-inline .bootstrap-select {
    width: 70px;
  }
}
/* line 275, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .selectpicker {
  background: none;
}
/* line 278, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .dropdown-toggle {
  background: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  padding: 0 10px;
  color: #666;
}
/* line 288, ../sass/print.scss */
#wrapper #header .search-top .form-inline .search-btn {
  position: absolute;
  background: #f7931e;
  right: 0px;
  top: 0px;
  width: 55px;
  height: 38px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
/* line 303, ../sass/print.scss */
#wrapper #header .top-right {
  padding-top: 10px;
}
/* line 305, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list {
  text-align: right;
}
@media screen and (min-width: 568px) and (max-width: 1024px) {
  /* line 305, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list {
    max-width: 100% !IMPORTANT;
    width: 100%;
    flex: none;
  }
}
/* line 312, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 315, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 13px;
  cursor: pointer;
}
/* line 321, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li:last-child {
  margin-right: 0;
}
/* line 324, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .count {
  position: absolute;
  background: #d90000;
  color: #fff;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 336, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart {
  position: relative;
}
/* line 338, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart:after {
  display: none;
}
/* line 341, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
  display: none;
  width: 275px;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 341, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
    left: -200px;
  }
}
/* line 354, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li {
  float: none;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 361, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 364, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 367, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 371, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li a {
  color: #999;
}
/* line 374, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 382, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
  text-align: left;
}
/* line 386, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 389, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 392, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 397, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .txt {
  text-align: left;
  padding: 20px 10px;
  color: #999;
}
/* line 402, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal {
  padding: 20px 10px;
  color: #999;
}
/* line 405, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal .total {
  font-weight: bold;
  color: #333;
}
/* line 411, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
/* line 415, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product img {
  width: 100%;
}
/* line 418, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 421, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 424, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 431, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif {
  position: relative;
}
/* line 433, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif:after {
  display: none;
}
/* line 436, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
  display: none;
  width: 275px;
  position: absolute;
  left: -100px;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 436, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
    left: -200px;
  }
}
/* line 449, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li {
  float: none;
  text-align: left;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 457, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 460, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 463, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 467, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li a {
  color: #999;
}
/* line 470, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 478, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product {
  padding: 10px;
  font-size: 12px;
}
/* line 481, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 484, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .title {
  color: #666;
}
/* line 487, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .price {
  color: #333;
}
/* line 492, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .txt {
  padding: 20px 10px;
  color: #999;
}
/* line 496, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .subtotal {
  padding: 20px 10px;
  color: #999;
}
/* line 499, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .subtotal .total {
  font-weight: bold;
  color: #333;
}
/* line 505, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
/* line 509, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product img {
  width: 100%;
}
/* line 512, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 515, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .title {
  color: #666;
}
/* line 518, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .price {
  color: #333;
}
@media screen and (max-width: 768px) {
  /* line 529, ../sass/print.scss */
  #wrapper #header .top-right .user-act-list {
    display: none;
  }
}
/* line 533, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 536, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .shop {
  border: 1px solid #0095da;
  color: #0095da;
}
/* line 539, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .shop a {
  padding: 2px 10px;
  display: block;
}
/* line 545, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li {
  list-style: none;
  display: inline-block;
  margin-left: 7px;
  font-size: 13px;
}
/* line 552, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign a {
  background: #0095da;
  color: #fff;
  padding: 5px 10px;
}
/* line 557, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop {
  position: absolute;
  background: #fff;
  left: -200px;
  z-index: 9;
  width: 350px;
  padding: 20px;
  border-color: #ececec;
}
/* line 565, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .flexo {
  padding: 0 20px;
}
/* line 567, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .flexo .right {
  font-size: 12px;
}
/* line 571, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .input-group-btn {
  position: absolute;
  right: 0;
}
/* line 574, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .input-group-btn button {
  border: none;
  background: none;
  color: #333;
}
/* line 580, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .login-btn {
  background: #c81423;
  color: #fff;
  width: 100%;
  border-radius: 25px;
}
/* line 586, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop input {
  border-radius: 25px;
}
/* line 597, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori {
  padding-right: 0;
}
/* line 599, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori h5 {
  background: #c81423 url(../img/burger-menu.png) no-repeat 8%;
  color: #fff;
  height: 45px;
  padding: 15px 50px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  /* line 599, ../sass/print.scss */
  #wrapper #menus-wrapper .bg-kategori h5 {
    padding: 15px 0px 15px 50px;
  }
}
/* line 611, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul {
  padding: 20px 0 0;
  margin: 0;
}
/* line 614, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
/* line 620, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a {
  color: #333;
  text-decoration: none;
}
/* line 623, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a:hover {
  color: #c81423;
}
/* line 627, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li .active {
  color: #c81423;
}
/* line 635, ../sass/print.scss */
#wrapper .banner-wrapper {
  background: #f5f5f5;
  margin: 20px 0;
}
/* line 638, ../sass/print.scss */
#wrapper .banner-wrapper .list-cat-wrapper {
  padding-right: 0;
}
/* line 640, ../sass/print.scss */
#wrapper .banner-wrapper .list-cat-wrapper .list-category {
  background: #fff;
  height: 342px;
  padding: 20px 0;
}
/* line 644, ../sass/print.scss */
#wrapper .banner-wrapper .list-cat-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 647, ../sass/print.scss */
#wrapper .banner-wrapper .list-cat-wrapper .list-category ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  /* line 647, ../sass/print.scss */
  #wrapper .banner-wrapper .list-cat-wrapper .list-category ul li {
    font-size: 12px;
  }
}
/* line 654, ../sass/print.scss */
#wrapper .banner-wrapper .list-cat-wrapper .list-category ul li a {
  padding: 5px 20px;
  display: block;
  color: #757575;
  text-decoration: none;
}
/* line 659, ../sass/print.scss */
#wrapper .banner-wrapper .list-cat-wrapper .list-category ul li a:hover {
  background: #f5f5f5;
  color: #199cb7;
}
/* line 668, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col {
  padding-right: 0;
  padding-left: 0;
}
/* line 671, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner {
  padding: 20px 0;
}
/* line 673, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner {
  outline: none;
}
/* line 675, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner img {
  width: 100%;
  padding-right: 10px;
}
/* line 679, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-prev {
  outline: none;
  position: absolute;
  z-index: 9;
  background: url(../img/banner-prev.png) no-repeat left;
  width: 35px;
  height: 60px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
  left: -2px;
}
/* line 692, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-next {
  outline: none;
  position: absolute;
  right: -2px;
  background: url(../img/banner-next.png) no-repeat left;
  width: 35px;
  height: 60px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
/* line 704, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-dots {
  text-align: center;
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
}
@media screen and (max-width: 480px) {
  /* line 704, ../sass/print.scss */
  #wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-dots {
    text-align: left;
    left: 15px;
  }
}
/* line 714, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-dots li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
/* line 718, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-dots li button {
  text-indent: -9999px;
  border: none;
  background: #ddd;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
/* line 728, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-dots .slick-active button {
  background: #0096d9;
}
/* line 738, ../sass/print.scss */
#wrapper .banner-wrapper .small-banner {
  padding-left: 0;
}
/* line 741, ../sass/print.scss */
#wrapper .banner-wrapper .small-banner .block:first-child {
  margin-bottom: 6px;
}
/* line 744, ../sass/print.scss */
#wrapper .banner-wrapper .small-banner .block img {
  height: 100%;
}
/* line 751, ../sass/print.scss */
#wrapper #content-wrapper {
  background: #f5f5f5;
  padding-top: 50px;
}
/* line 754, ../sass/print.scss */
#wrapper #content-wrapper .columns {
  background: #fff;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px #ccc;
}
@media screen and (max-width: 568px) {
  /* line 754, ../sass/print.scss */
  #wrapper #content-wrapper .columns {
    box-shadow: none;
    padding: 0;
  }
}
/* line 763, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top {
  margin-bottom: 20px;
}
@media screen and (max-width: 568px) {
  /* line 763, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top {
    margin-bottom: 0;
    padding: 20px;
  }
}
/* line 769, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top h3 {
  font-weight: bold;
  color: #333;
}
@media screen and (max-width: 568px) {
  /* line 769, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top h3 {
    font-size: 18px;
  }
}
/* line 777, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .more a {
  color: #0096d9;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 12px;
}
/* line 787, ../sass/print.scss */
#wrapper #content-wrapper .banner-after-menu {
  margin-bottom: 20px;
}
/* line 792, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight {
  background: url(../img/bg-product-active.jpg) no-repeat !important;
}
/* line 794, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight a {
  color: #fff !Important;
}
/* line 799, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-prev {
  outline: none;
  position: absolute;
  z-index: 9;
  background: url(../img/banner-prev.png) no-repeat left;
  width: 35px;
  height: 66px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
  left: -20px;
}
@media screen and (max-width: 568px) {
  /* line 799, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-prev {
    left: 0;
  }
}
/* line 815, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-next {
  outline: none;
  position: absolute;
  right: -20px;
  background: url(../img/banner-next.png) no-repeat left;
  width: 35px;
  height: 66px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
@media screen and (max-width: 568px) {
  /* line 815, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-next {
    right: 0;
  }
}
/* line 831, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block {
  background: #fff;
  float: left;
  width: 220px;
  height: 335px;
}
@media screen and (max-width: 768px) {
  /* line 831, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block {
    height: auto;
  }
}
/* line 839, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 20px;
  position: relative;
}
/* line 845, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a:hover {
  box-shadow: 2px 0px 30px 5px #ccc;
}
@media screen and (max-width: 768px) {
  /* line 839, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 839, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px;
  }
}
/* line 854, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .img {
  min-height: 200px;
}
@media screen and (max-width: 480px) {
  /* line 854, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .img {
    display: flex;
    align-items: center;
  }
}
/* line 860, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .img img {
  width: 100%;
}
/* line 864, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .title {
  margin-bottom: 10px;
  color: #666;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 864, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .title {
    padding: 0 10px;
  }
}
/* line 871, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .price {
  color: #c81423;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 871, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .price {
    padding: 0 10px;
  }
}
/* line 877, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
  color: #999;
  font-size: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 877, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
    padding: 0 10px;
  }
}
/* line 884, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
  margin-top: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 884, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
    padding: 0 10px;
  }
}
/* line 889, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul {
  float: left;
  padding: 0;
  margin: 0;
}
/* line 893, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul li {
  list-style: none;
  display: inline-block;
}
/* line 898, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
  float: left;
  margin-left: 10px;
  margin-top: 2px;
  font-size: 10px;
  color: #999;
}
@media screen and (max-width: 768px) {
  /* line 898, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
    margin-left: 0;
  }
}
/* line 913, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads {
  padding: 50px 0;
  background: #f5f5f5;
}
/* line 917, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads .banner img {
  object-fit: cover;
  width: 100%;
}
/* line 923, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper {
  margin: 50px 0;
}
/* line 925, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper h3 {
  font-weight: bold;
  color: #333;
}
@media screen and (max-width: 480px) {
  /* line 925, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper h3 {
    padding: 20px;
    font-size: 18px;
  }
}
/* line 934, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 937, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li {
  text-align: center;
  list-style: none;
  padding: 3px;
  position: relative;
  z-index: 9;
}
/* line 943, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a {
  display: block;
  color: #282828;
  padding: 0 10px;
}
/* line 947, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a .title {
  margin-top: 20px;
  display: inline-block;
  font-size: 14px;
  line-height: normal;
}
/* line 953, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a img {
  width: 100%;
}
/* line 962, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper {
  padding: 50px 0;
}
/* line 964, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper h3 {
  font-weight: bold;
  color: #333;
}
/* line 970, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
  width: 16.66666667%;
  height: 282px;
  margin-bottom: 20px;
  border-right: none;
}
@media screen and (min-width: 768px) {
  /* line 970, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 970, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    width: 50%;
    padding: 0;
  }
}
/* line 982, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
  height: 100%;
  position: relative;
  z-index: 9;
  padding: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 982, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
    padding: 0;
  }
}
/* line 990, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
  min-height: 140px;
}
@media screen and (max-width: 768px) {
  /* line 990, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
    min-height: 50px;
  }
  /* line 994, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
    width: 100%;
  }
}
/* line 998, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
  width: 100%;
}
/* line 1003, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
  width: 45%;
}
@media screen and (max-width: 768px) {
  /* line 1003, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
    width: 100%;
  }
}
/* line 1008, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul li {
  margin-right: -5px;
}
/* line 1016, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
}
/* line 1020, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore a {
  border: 1px solid #199cb7;
  padding: 10px 20px;
  display: inline-block;
  color: #199cb7;
}
/* line 1031, ../sass/print.scss */
#wrapper #footer-wrapper {
  background: #fff;
  border-bottom: 1px solid #cfcfcf;
}
@media screen and (max-width: 480px) {
  /* line 1031, ../sass/print.scss */
  #wrapper #footer-wrapper {
    background: #fff;
  }
}
/* line 1037, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper {
  padding: 50px 0;
}
/* line 1039, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block {
  text-align: center;
}
@media screen and (max-width: 480px) {
  /* line 1039, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block {
    height: 150px;
    margin-bottom: 20px;
  }
}
/* line 1045, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block:last-child {
  background: none;
}
/* line 1048, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .img {
  display: inline-block;
  margin-bottom: 10px;
}
/* line 1052, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .title {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}
@media screen and (max-width: 568px) {
  /* line 1052, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block .title {
    line-height: normal;
  }
}
/* line 1060, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .desc {
  color: #999;
}
@media screen and (max-width: 768px) {
  /* line 1060, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block .desc {
    font-size: 12px;
    line-height: normal;
  }
}
/* line 1069, ../sass/print.scss */
#wrapper #footer-wrapper .footer {
  background: #e5e5e5 url(../img/bg-footer.png) no-repeat bottom;
  color: #999;
  padding: 50px 0;
  border-top: 2px solid #0095da;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1069, ../sass/print.scss */
  #wrapper #footer-wrapper .footer {
    font-size: 12px;
  }
}
/* line 1077, ../sass/print.scss */
#wrapper #footer-wrapper .footer .title {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  /* line 1077, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .title {
    width: 50%;
    font-size: 18px;
    margin-top: 20px;
  }
}
/* line 1090, ../sass/print.scss */
#wrapper #footer-wrapper .footer .logo img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  /* line 1090, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .logo img {
    width: auto;
  }
}
/* line 1097, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address {
  margin-top: 35px;
}
@media screen and (max-width: 480px) {
  /* line 1097, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-address {
    margin-top: 20px;
  }
}
/* line 1102, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul {
  padding: 0;
  margin: 0;
}
/* line 1105, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 25px;
}
/* line 1109, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(1) {
  background: url(../img/footer-maps.png) no-repeat left;
}
/* line 1112, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(2) {
  background: url(../img/footer-phone.png) no-repeat left;
}
/* line 1115, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(3) {
  background: url(../img/footer-mail.png) no-repeat left;
}
/* line 1121, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus {
  margin-top: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1121, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-menus {
    margin-top: 0;
  }
}
/* line 1126, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul {
  padding: 0;
  margin: 0;
}
/* line 1129, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li {
  list-style: none;
  margin: 10px 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1129, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-menus ul li {
    margin: 0;
  }
}
/* line 1135, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li a {
  color: #999;
}
/* line 1141, ../sass/print.scss */
#wrapper #footer-wrapper .footer .img-wrap {
  padding-right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1144, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .img-wrap .img img {
    width: 100%;
  }
}
/* line 1152, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog {
  border-bottom: 1px solid #333;
  padding: 15px 0;
}
/* line 1155, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog:last-child {
  border: none;
}
/* line 1158, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog a {
  color: #999;
}
/* line 1161, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog .titleblog {
  line-height: normal;
}
/* line 1169, ../sass/print.scss */
#wrapper #bottom {
  background: #fafafa;
  text-align: center;
  padding: 30px 0;
  color: #999999;
  font-size: 16px;
}
/* line 1175, ../sass/print.scss */
#wrapper #bottom .red {
  color: #0095da;
}
